table {
  width: 50%;
  text-align: center;
  background-color: white;
  // border: 1px solid lightgrey;
  margin-bottom: 10px;
}

tr {
  font-size: 0.9em;
}

.notes {
  border: 1px solid lightgrey;
  height: 5em;
  padding: 0 5px;
  font-size: 0.9em;
}

.my-plus {
  color: #D10027;
  font-weight: bold;
  font-size: 1.5em;
}

.hor-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.border-top {
  border-top: 1px solid lightgrey;
}

.wide {
  width: 100% !important;
}

.exercise-form {
  display: flex;
  flex-direction: column;
  width: 33%;
  .form-control {
    width: 100%;
    margin: 0;
  }
}

.sub-title {
  width: auto;
  margin-bottom: 5px;
}
