.weights-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 15px;
  font-size: 1.2em;
  .exercise-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px dashed lightgrey;
  }
  .set-info {
    margin: 5px 0;
  }
  .set-reps {
    cursor: pointer;
  }
  .exercise-row-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .exercise-name {
    margin-right: 20px;
    cursor: pointer;
  }
  .delete-exercise {
    margin-right: 5px;
  }
  .exercise_set_weight {
    margin-right: 10px;
  }
  .set-info {
    margin-right: 50px;
    position: relative;
  }
  .set-weight {
    position: absolute;
    opacity: 0.4;
    font-size: 0.7em;
    top: -10px;
    right: -30px;
  }
  .set-box-weight {
    width: 4.6em;
  }
  .set-box-reps {
    width: 4.6em;
  }
  form {
    display: flex;
    align-items: center;
  }
  .form-group {
    margin-bottom: 0;
  }
}

.notes {
  border: 1px solid lightgrey;
  height: 7em;
  padding: 5px;
  // font-size: 0.9em;
  background: white;
}

.show-name {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hide-name {
    display: none;
  }
  .show-name {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .set-info {
    margin-bottom: 20px !important;
  }
}

label {
  font-size: 1.2em;
  color: #D10027;
}

.notes-save {
  margin-top: -20px;
  margin-left: -10px;
}

.new-exercise-row {
  margin-top: 10px;
}

#new_exercise {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.my-plus {
  color: #D10027;
  font-weight: bold;
  font-size: 1.5em;
}

.hor-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.border-top {
  border-top: 1px solid lightgrey;
}

.wide {
  width: 100% !important;
}

.exercise-form {
  display: flex;
  flex-direction: column;
  width: 33%;
  .form-control {
    width: 100%;
    margin: 0;
  }
}

.sub-title {
  width: auto;
  margin-bottom: 5px;
}
