.banner {
  h3 {
    margin: 0;
    font-size: 3vh;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  padding: 10px 20px;
  // font-size: 1.2em;
}
