.my-card {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.date-time {
  text-align: center;
}

.card-item-four {
  flex-basis: 25%;
}

.card-item-six {
  flex-basis: 16.66%;
}

.card-item-nine {
  flex-basis: 11.11%;
}

.card-item-five {
  flex-basis: 20%;
}
