.form-box {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 1.8vh;
  .duration {
    display: flex;
    align-items: stretch;
  }
  .text {
    width: 100%;
  }
  label {
    color: #D10027;
  }
  .form-group {
    margin-bottom: 5px;
  }
  .duration {
    width: 50%;
  }
}

th {
  color: #D10027;
}

.submit {
  color: #D10027;
  font-size: 1.2em;
  font-weight: bold;
}

.one-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardio_workout_duration_minutes {
  margin-left: 10px;
}

.cardio_workout_duration_seconds {
  margin-left: 10px;
}

.cardio_workout_avg_pace_seconds {
  margin-left: 10px;
}

.cardio_workout_max_pace_seconds {
  margin-left: 10px;
}

// .cardio_workout_max_pace_minute {
//   // display: inline-block;
//   margin-left: 10px;
// }

.cardio_workout_time {
  margin-right: 11%;
}

@media only screen and (max-width: 576px) {
  .form-box {
    .duration {
      width: auto;
    }
    .cardio_workout_avg_pace_seconds {
      margin-bottom: -10px !important;
    }
  }
  #cardio-workout-time {
    width: auto !important;
    margin-right: 0;
  }
  #cardio-workout-date {
    width: auto !important;
  }
}



// .cardio_workout_training_type {
//   margin-left: 30.3%;
// }

// .cardio_workout_running_index {
//   margin-left: 30.3%;
// }



// .weights_workout_time {
//   margin-left: 30%;
// }

.weights_workout_duration_minutes {
  margin-left: 10px;
}

.weights_workout_duration_seconds {
  margin-left: 10px;
}

// .weights_workout_max_hr {
//   // display: inline-block;
//   margin-left: 30.3%;
// }



// .cardio_workout_max_speed {
//   // display: inline-block;
//   margin-left: 30.3%;
// }

// .cardio_workout_max_hr {
//   // display: inline-block;
//   margin-left: 30.3%;
// }

// .cardio_workout_descent {
//   // display: inline-block;
//   margin-left: 30.3%;
// }

// .cardio_workout_distance {
//   margin-left: -20.3%;
// }
