.justify-content-between {
  justify-content: center !important; // changing simple form for default
}


label {
  color: #D10027;
}

.date {
  width: auto !important;
}

.time {
  width: auto !important;
}

.submit {
  color: #D10027;
  font-size: 1.2em;
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
  // display: flex;
}

.cardio_workout_duration_hours {
  display: inline-block;
}

.cardio_workout_duration_minutes {
  display: inline-block;
}

.cardio_workout_duration_seconds {
  display: inline-block;
}

.cardio_workout_avg_pace_minute {
  display: inline-block;
}

.cardio_workout_avg_pace_seconds {
  display: inline-block;
}

.cardio_workout_max_pace_minute {
  display: inline-block;
}

.cardio_workout_max_pace_seconds {
  display: inline-block;
}

.cardio_workout_date {
  display: inline-block;
}

.cardio_workout_time {
  display: inline-block;
}
